.rhero-h {
  height: 90vh !important;

  @media (min-width: 992px) {
    & {
      height: 70vh !important;
    }
  }

  @media (min-width: 1024px) {
    & {
        height: 60vh !important;
    }
  }

  @media (min-width: 1440px) {
    & {
        height: 50vh;
    }
  }
}

.rcorousel-img-container{
  width: 100%;
  max-width: 400px;
}